---
layout: layouts/base.liquid
---
<div class="[ wrapper flow ]">
  <section class="[ intro ] [ cluster ] [ flow-space-xs ]">
    <div class="intro__header">
      <h1 class="weight-bold">
        {{ intro.main }}
      </h1>
    </div>
    <div class="intro__content">
      <p>{{ intro.summary | markdownify }}</p>
    </div>
  </section>
  <article class="flow">
    <h2>Perfect for content-driven sites</h2>
    <p>Cubetopia is intended for personal, content-driven websites where writing is the primary medium. This encompasses a huge proportion of the content that exists on the web, but it's surprisingly difficult to find a starting template that is easy to deploy, looks good with minimal customization, works on any device or viewport size, and comes with easily reusable CSS classes that can be used to customize and extend the site in the future.</p>
    <p>The web was originally designed for the exchange of written content and ideas, and Cubetopia is a return to that simplicity and purpose. Deliberately easy to read and fast to load, nothing but HTML and CSS are used, making the site lightweight and simple to host as a static site.</p>
    <section class="[ switcher ] [ flow-space-m ]">
      {% for item in highlights %}
        <div class="[ box flow ] [ border-thick border-style-solid border-color-primary bg-light-glare ]">
          <h3>{{ item.title }}</h3>
          <p>{{ item.body }}</p>
        </div>
      {% endfor %}
    </section>
    <p>I'm leaning heavily on [Andy Bell](https://x.com/belldotbz)'s [CUBE CSS](https://cube.fyi) principles and making use of [James Gilyead](https://x.com/j98) and [Trys Mudford](https://x.com/trysmudford)'s [Utopia](https://utopia.fyi) fluid type and space scaling. Combined, their approaches to web design make for a delightful experience for both developers and end users alike.</p>
    <h2>Packed full of functionality</h2>
    <section class="[ grid ] [ flow-space-m ]">
      {% for feature in features %}
        <div class="[ box flow ] [ color-light-glare bg-primary ]">
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.body }}</p>
        </div>
      {% endfor %}
    </section>
  </article>
</div>
